In [108]:
import pandas as pd
link1='https://raw.githubusercontent.com/Myyn2304/pc3/refs/heads/main/Education%20expenditures.csv'
tabla1=pd.read_csv(link1)
link2='https://raw.githubusercontent.com/Myyn2304/pc3/refs/heads/main/Electricity%20-%20installed%20generating%20capacity.csv'
tabla2=pd.read_csv(link2)
link3='https://raw.githubusercontent.com/Myyn2304/pc3/refs/heads/main/Energy%20consumption%20per%20capita.csv'
tabla3=pd.read_csv(link3)
link4='https://raw.githubusercontent.com/Myyn2304/pc3/refs/heads/main/Reserves%20of%20foreign%20exchange%20and%20gold.csv'
tabla4=pd.read_csv(link4)

In [109]:
#no es necesario eliminar alguna columna pues todas son necesarias
#quitar el espacio de los nombres cambiandolo por _ no sin antes str.strip() quita los espacios al inicio y final
tabla1.columns=tabla1.columns.str.strip().str.replace(r'\s+', '_', regex=True)
tabla2.columns=tabla2.columns.str.strip().str.replace(r'\s+', '_', regex=True)
tabla3.columns=tabla3.columns.str.strip().str.replace(r'\s+', '_', regex=True)
tabla4.columns=tabla4.columns.str.strip().str.replace(r'\s+', '_', regex=True)
#poniendo la primera letra de país en mayuscula
tabla1.columns=tabla1.columns.str.title()
tabla2.columns=tabla2.columns.str.title()
tabla3.columns=tabla3.columns.str.title()
tabla4.columns=tabla4.columns.str.title()

In [111]:
#verificar que no haya datos faltantes
tabla1[tabla1.isnull().any(axis=1)]
tabla2[tabla2.isnull().any(axis=1)]
tabla3[tabla3.isnull().any(axis=1)]
tabla4[tabla4.isnull().any(axis=1)]

Empty DataFrame
Columns: [Name, Slug, Value, Date_Of_Information, Ranking, Region]
Index: []

In [112]:
#viendo el tipo de cada dato para identificar incongruencias
tabla1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 197 non-null    object
 1   Slug                 197 non-null    object
 2   %_Of_Gdp             197 non-null    float64
 3   Date_Of_Information  197 non-null    int64
 4   Ranking              197 non-null    int64
 5   Region               197 non-null    object
dtypes: float64(1), int64(2), object(3)
memory usage: 9.4+ KB

In [113]:
#viendo el tipo de cada dato para identificar incongruencias
tabla2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 211 non-null    object
 1   Slug                 211 non-null    object
 2   Kw                   211 non-null    object
 3   Date_Of_Information  211 non-null    int64
 4   Ranking              211 non-null    int64
 5   Region               211 non-null    object
dtypes: int64(2), object(4)
memory usage: 10.0+ KB

In [114]:
#viendo el tipo de cada dato para identificar incongruencias
tabla3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 195 non-null    object
 1   Slug                 195 non-null    object
 2   Btu/Person           195 non-null    object
 3   Date_Of_Information  195 non-null    int64
 4   Ranking              195 non-null    int64
 5   Region               195 non-null    object
dtypes: int64(2), object(4)
memory usage: 9.3+ KB

In [115]:
#viendo el tipo de cada dato para identificar incongruencias
tabla4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 195 non-null    object
 1   Slug                 195 non-null    object
 2   Value                195 non-null    object
 3   Date_Of_Information  195 non-null    int64
 4   Ranking              195 non-null    int64
 5   Region               195 non-null    object
dtypes: int64(2), object(4)
memory usage: 9.3+ KB

In [116]:
#Como se observa el Dtype de las columnas Kw, Btu/person, Value debería ser numérico, así que vamos a modificarlo

In [117]:
# se observa que el unico problema en la tabla 2 columna kW son las ","
pd.unique(tabla2.Kw[~tabla2.Kw.astype(str).str.contains(r'\d+\.\d+', regex=True)])

array(['2,949,000,000', '1,235,000,000', '499,136,000', '361,617,000',
       '301,926,000', '275,658,000', '240,251,000', '161,988,000',
       '151,463,000', '151,139,000', '130,366,000', '128,692,000',
       '119,620,000', '114,749,000', '108,193,000', '106,281,000',
       '105,586,000', '86,058,000', '85,725,000', '70,826,000',
       '65,989,000', '64,806,000', '64,535,000', '60,297,000',
       '59,982,000', '59,680,000', '55,971,000', '55,307,000',
       '47,631,000', '44,462,000', '43,512,000', '41,100,000',
       '39,238,000', '37,220,000', '33,493,000', '33,371,000',
       '31,339,000', '29,174,000', '28,248,000', '27,624,000',
       '26,782,000', '26,502,000', '25,409,000', '24,169,000',
       '22,699,000', '22,612,000', '22,591,000', '21,802,000',
       '21,053,000', '20,794,000', '20,294,000', '19,748,000',
       '17,901,000', '16,164,000', '14,829,000', '14,615,000',
       '13,300,000', '13,134,000', '12,939,000', '12,738,000',
       '12,653,000', '12,321,000', '11,589,000', '11,400,000',
       '10,643,000', '10,519,000', '9,636,000', '8,928,000', '8,438,000',
       '8,383,000', '8,357,000', '8,202,000', '8,138,000', '7,600,000',
       '7,419,000', '7,264,000', '7,031,000', '6,898,000', '6,891,000',
       '6,639,000', '6,581,000', '6,512,000', '6,481,000', '5,690,000',
       '5,682,000', '5,519,000', '5,518,000', '5,426,000', '5,326,000',
       '5,161,000', '4,995,000', '4,739,000', '4,682,000', '4,526,000',
       '4,485,000', '4,375,000', '4,265,000', '4,094,000', '3,986,000',
       '3,944,000', '3,824,000', '3,815,000', '3,751,000', '3,673,000',
       '3,428,000', '3,334,000', '3,229,000', '3,225,000', '3,005,000',
       '2,860,000', '2,857,000', '2,853,000', '2,803,000', '2,491,000',
       '2,467,000', '2,344,000', '2,315,000', '2,288,000', '2,212,000',
       '2,139,000', '1,849,000', '1,818,000', '1,798,000', '1,790,000',
       '1,772,000', '1,555,000', '1,510,000', '1,452,000', '1,242,000',
       '1,222,000', '1,174,000', '1,148,000', '1,082,000', '1,060,000',
       '955,000', '904,000', '842,000', '829,000', '812,000', '785,000',
       '779,000', '759,000', '758,000', '749,000', '731,000', '646,000',
       '627,000', '608,000', '537,000', '525,000', '505,000', '472,000',
       '432,000', '427,000', '377,000', '352,000', '349,000', '345,000',
       '326,000', '320,000', '305,000', '294,000', '285,000', '277,000',
       '259,000', '243,000', '220,000', '210,000', '200,000', '199,000',
       '190,000', '180,000', '176,000', '172,000', '167,000', '162,000',
       '156,000', '149,000', '148,000', '136,000', '131,000', '104,000',
       '94,000', '93,000', '72,000', '63,000', '60,000', '55,000',
       '54,000', '50,000', '41,000', '39,000', '37,000', '34,000',
       '32,000', '29,000', '26,000', '19,000', '17,000', '12,000',
       '10,000', '6,000', '5,000', '3,000'], dtype=object)

In [118]:
# se observa que el unico problema en la tabla 3 columna Btu/person son las ","

pd.unique(tabla3['Btu/Person'][~tabla3['Btu/Person'].astype(str).str.contains(r'\d+\.\d+', regex=True)])

array(['814,308,000', '643,259,000', '554,202,000', '450,432,000',
       '403,365,000', '389,848,000', '349,692,000', '311,599,000',
       '296,586,000', '278,474,000', '261,142,000', '234,698,000',
       '234,668,000', '224,858,000', '224,651,000', '223,158,000',
       '206,961,000', '206,102,000', '190,416,000', '185,536,000',
       '183,540,000', '172,936,000', '160,779,000', '153,952,000',
       '150,555,000', '143,149,000', '142,102,000', '136,306,000',
       '129,504,000', '127,582,000', '123,526,000', '122,737,000',
       '121,647,000', '120,457,000', '120,211,000', '116,811,000',
       '113,837,000', '113,805,000', '113,163,000', '112,437,000',
       '110,114,000', '107,188,000', '104,821,000', '104,502,000',
       '104,409,000', '103,651,000', '102,171,000', '101,120,000',
       '100,844,000', '99,578,000', '98,847,000', '98,513,000',
       '96,797,000', '96,152,000', '94,280,000', '92,693,000',
       '91,884,000', '91,227,000', '89,105,000', '86,286,000',
       '86,197,000', '83,700,000', '81,454,000', '80,602,000',
       '79,907,000', '78,496,000', '78,010,000', '73,679,000',
       '73,285,000', '71,420,000', '70,521,000', '68,293,000',
       '67,132,000', '66,998,000', '66,467,000', '65,908,000',
       '64,641,000', '64,311,000', '64,082,000', '63,407,000',
       '61,843,000', '60,896,000', '60,188,000', '59,377,000',
       '57,856,000', '57,539,000', '56,104,000', '56,076,000',
       '55,305,000', '54,689,000', '54,509,000', '54,474,000',
       '52,085,000', '50,886,000', '48,889,000', '47,522,000',
       '46,045,000', '45,755,000', '43,105,000', '42,095,000',
       '41,703,000', '40,263,000', '39,329,000', '37,390,000',
       '37,253,000', '36,395,000', '35,700,000', '35,686,000',
       '34,975,000', '34,463,000', '33,754,000', '32,909,000',
       '32,443,000', '30,923,000', '30,752,000', '30,725,000',
       '29,340,000', '29,305,000', '27,580,000', '27,407,000',
       '26,070,000', '25,733,000', '25,375,000', '25,179,000',
       '24,421,000', '23,830,000', '23,520,000', '23,476,000',
       '23,272,000', '22,101,000', '21,734,000', '19,999,000',
       '18,823,000', '17,654,000', '17,096,000', '16,642,000',
       '16,192,000', '15,664,000', '14,991,000', '14,135,000',
       '14,076,000', '13,569,000', '12,934,000', '12,372,000',
       '11,472,000', '10,855,000', '10,660,000', '10,493,000',
       '10,428,000', '9,146,000', '8,875,000', '8,781,000', '8,578,000',
       '8,489,000', '8,384,000', '8,303,000', '8,265,000', '8,117,000',
       '7,993,000', '7,351,000', '7,139,000', '6,825,000', '6,604,000',
       '6,472,000', '6,145,000', '5,789,000', '5,655,000', '5,486,000',
       '5,235,000', '4,538,000', '4,307,000', '4,271,000', '4,091,000',
       '3,486,000', '3,481,000', '3,380,000', '2,987,000', '2,977,000',
       '2,731,000', '2,366,000', '2,351,000', '2,301,000', '2,252,000',
       '2,092,000', '1,822,000', '1,816,000', '1,808,000', '1,792,000',
       '1,772,000', '1,502,000', '1,305,000', '954,000', '946,000',
       '649,000'], dtype=object)

In [119]:
# se observa que el unico problema en la tabla 4 columna kW son las "," y el "$"
pd.unique(tabla4.Value[~tabla4.Value.astype(str).str.contains(r'\d+\.\d+', regex=True)])

array(['$3,265,000,000,000', '$1,160,000,000,000', '$822,130,000,000',
       '$597,217,000,000', '$569,544,000,000', '$456,700,000,000',
       '$436,769,000,000', '$425,554,000,000', '$409,457,000,000',
       '$365,494,000,000', '$318,857,000,000', '$231,690,000,000',
       '$227,760,000,000', '$221,944,000,000', '$217,261,000,000',
       '$214,544,000,000', '$185,515,000,000', '$149,118,000,000',
       '$148,569,000,000', '$141,988,000,000', '$120,600,000,000',
       '$117,551,000,000', '$112,968,000,000', '$103,239,000,000',
       '$96,792,000,000', '$95,251,000,000', '$92,238,000,000',
       '$90,859,000,000', '$87,048,000,000', '$84,875,000,000',
       '$84,154,000,000', '$81,242,000,000', '$80,592,000,000',
       '$78,429,000,000', '$76,338,000,000', '$68,448,000,000',
       '$64,699,000,000', '$61,506,000,000', '$54,912,000,000',
       '$54,455,000,000', '$52,023,000,000', '$44,692,000,000',
       '$44,382,000,000', '$44,104,000,000', '$41,485,000,000',
       '$40,270,000,000', '$38,612,000,000', '$37,194,000,000',
       '$35,269,000,000', '$34,278,000,000', '$29,392,000,000',
       '$27,753,000,000', '$26,445,000,000', '$24,910,000,000',
       '$24,381,000,000', '$23,834,000,000', '$22,374,000,000',
       '$22,065,000,000', '$21,980,000,000', '$20,225,000,000',
       '$18,608,000,000', '$17,369,000,000', '$17,298,000,000',
       '$15,929,000,000', '$14,322,000,000', '$14,243,000,000',
       '$14,177,000,000', '$13,424,000,000', '$12,977,000,000',
       '$12,699,000,000', '$12,456,000,000', '$11,919,000,000',
       '$11,793,000,000', '$11,688,000,000', '$11,350,000,000',
       '$10,332,000,000', '$10,065,000,000', '$9,886,000,000',
       '$9,794,000,000', '$9,749,000,000', '$9,338,000,000',
       '$9,240,000,000', '$9,145,000,000', '$9,127,000,000',
       '$8,770,000,000', '$7,543,000,000', '$7,465,000,000',
       '$6,920,000,000', '$6,856,000,000', '$6,455,000,000',
       '$6,257,000,000', '$6,236,000,000', '$6,105,000,000',
       '$6,055,000,000', '$5,610,000,000', '$5,477,000,000',
       '$5,438,000,000', '$5,118,000,000', '$5,104,000,000',
       '$5,050,000,000', '$4,891,000,000', '$4,882,000,000',
       '$4,869,000,000', '$4,756,000,000', '$4,703,000,000',
       '$4,674,000,000', '$4,591,000,000', '$4,392,000,000',
       '$4,032,000,000', '$3,901,000,000', '$3,848,000,000',
       '$3,784,000,000', '$3,684,000,000', '$3,624,000,000',
       '$3,590,000,000', '$3,513,000,000', '$3,359,000,000',
       '$3,356,000,000', '$3,336,000,000', '$3,304,000,000',
       '$3,237,000,000', '$3,173,000,000', '$2,785,000,000',
       '$2,602,000,000', '$2,566,000,000', '$2,512,000,000',
       '$2,406,000,000', '$2,054,000,000', '$2,039,000,000',
       '$1,887,000,000', '$1,827,000,000', '$1,770,000,000',
       '$1,741,000,000', '$1,606,000,000', '$1,597,000,000',
       '$1,538,000,000', '$1,530,000,000', '$1,468,000,000',
       '$1,447,000,000', '$1,402,000,000', '$1,328,000,000',
       '$1,314,000,000', '$1,310,000,000', '$1,251,000,000',
       '$1,050,000,000', '$1,010,000,000', '$928,229,000', '$921,269,000',
       '$854,089,000', '$836,088,000', '$783,106,000', '$781,995,000',
       '$773,678,000', '$715,391,000', '$698,900,000', '$688,220,000',
       '$673,203,000', '$647,800,000', '$643,768,000', '$599,660,000',
       '$594,498,000', '$580,900,000', '$577,028,000', '$507,740,000',
       '$498,087,000', '$497,434,000', '$495,699,000', '$479,593,000',
       '$479,261,000', '$423,263,000', '$407,300,000', '$406,064,000',
       '$396,530,000', '$358,441,000', '$356,400,000', '$348,725,000',
       '$322,436,000', '$316,824,000', '$294,748,000', '$261,373,000',
       '$234,000,000', '$191,694,000', '$177,934,000', '$155,971,000',
       '$90,350,000', '$87,100,000', '$77,800,000', '$76,380,000',
       '$72,881,000', '$49,000,000', '$47,580,000', '$46,247,000',
       '$30,450,000'], dtype=object)

In [120]:
#Eliminando las "," en las columnas requeridas. En la 4 también se elimina "$"
tabla2['Kw'] = tabla2['Kw'].astype(str).str.strip().str.replace(r',', '', regex=True)
tabla3['Btu/Person'] = tabla3['Btu/Person'].astype(str).str.strip().str.replace(r',', '', regex=True)
tabla4['Value'] = tabla4['Value'].astype(str).str.strip().str.replace(r',', '', regex=True).str.replace(r'^\$', '', regex=True)

In [121]:
#verificando que ya no hay caracteres que no sean números (ni "," ni "$")
pd.unique(tabla2.Kw[~tabla2.Kw.astype(str).str.contains(r'\d+\.\d+', regex=True)])
pd.unique(tabla3['Btu/Person'][~tabla3['Btu/Person'].astype(str).str.contains(r'\d+\.\d+', regex=True)])
pd.unique(tabla4.Value[~tabla4.Value.astype(str).str.contains(r'\d+\.\d+', regex=True)])

array(['3265000000000', '1160000000000', '822130000000', '597217000000',
       '569544000000', '456700000000', '436769000000', '425554000000',
       '409457000000', '365494000000', '318857000000', '231690000000',
       '227760000000', '221944000000', '217261000000', '214544000000',
       '185515000000', '149118000000', '148569000000', '141988000000',
       '120600000000', '117551000000', '112968000000', '103239000000',
       '96792000000', '95251000000', '92238000000', '90859000000',
       '87048000000', '84875000000', '84154000000', '81242000000',
       '80592000000', '78429000000', '76338000000', '68448000000',
       '64699000000', '61506000000', '54912000000', '54455000000',
       '52023000000', '44692000000', '44382000000', '44104000000',
       '41485000000', '40270000000', '38612000000', '37194000000',
       '35269000000', '34278000000', '29392000000', '27753000000',
       '26445000000', '24910000000', '24381000000', '23834000000',
       '22374000000', '22065000000', '21980000000', '20225000000',
       '18608000000', '17369000000', '17298000000', '15929000000',
       '14322000000', '14243000000', '14177000000', '13424000000',
       '12977000000', '12699000000', '12456000000', '11919000000',
       '11793000000', '11688000000', '11350000000', '10332000000',
       '10065000000', '9886000000', '9794000000', '9749000000',
       '9338000000', '9240000000', '9145000000', '9127000000',
       '8770000000', '7543000000', '7465000000', '6920000000',
       '6856000000', '6455000000', '6257000000', '6236000000',
       '6105000000', '6055000000', '5610000000', '5477000000',
       '5438000000', '5118000000', '5104000000', '5050000000',
       '4891000000', '4882000000', '4869000000', '4756000000',
       '4703000000', '4674000000', '4591000000', '4392000000',
       '4032000000', '3901000000', '3848000000', '3784000000',
       '3684000000', '3624000000', '3590000000', '3513000000',
       '3359000000', '3356000000', '3336000000', '3304000000',
       '3237000000', '3173000000', '2785000000', '2602000000',
       '2566000000', '2512000000', '2406000000', '2054000000',
       '2039000000', '1887000000', '1827000000', '1770000000',
       '1741000000', '1606000000', '1597000000', '1538000000',
       '1530000000', '1468000000', '1447000000', '1402000000',
       '1328000000', '1314000000', '1310000000', '1251000000',
       '1050000000', '1010000000', '928229000', '921269000', '854089000',
       '836088000', '783106000', '781995000', '773678000', '715391000',
       '698900000', '688220000', '673203000', '647800000', '643768000',
       '599660000', '594498000', '580900000', '577028000', '507740000',
       '498087000', '497434000', '495699000', '479593000', '479261000',
       '423263000', '407300000', '406064000', '396530000', '358441000',
       '356400000', '348725000', '322436000', '316824000', '294748000',
       '261373000', '234000000', '191694000', '177934000', '155971000',
       '90350000', '87100000', '77800000', '76380000', '72881000',
       '49000000', '47580000', '46247000', '30450000'], dtype=object)

In [122]:
#transformar todos los valores a numeros en las columnas requeridas
tabla2.Kw=pd.to_numeric(tabla2.Kw,errors='coerce')
#comprobar que todo en Kw es número y hay 211 valores no nulos, es decir, que no hay NaN
tabla2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 211 non-null    object
 1   Slug                 211 non-null    object
 2   Kw                   211 non-null    int64
 3   Date_Of_Information  211 non-null    int64
 4   Ranking              211 non-null    int64
 5   Region               211 non-null    object
dtypes: int64(3), object(3)
memory usage: 10.0+ KB

In [123]:
#transformar todos los valores a numeros en las columnas requeridas
tabla3['Btu/Person']=pd.to_numeric(tabla3['Btu/Person'],errors='coerce')
#comprobar que todo en Btu/person es número y hay 195 valores no nulos, es decir, que no hay NaN
tabla3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 195 non-null    object
 1   Slug                 195 non-null    object
 2   Btu/Person           195 non-null    int64
 3   Date_Of_Information  195 non-null    int64
 4   Ranking              195 non-null    int64
 5   Region               195 non-null    object
dtypes: int64(3), object(3)
memory usage: 9.3+ KB

In [124]:
#transformar todos los valores a numeros en las columnas requeridas
tabla4.Value=pd.to_numeric(tabla4.Value,errors='coerce')
#comprobar que todo en Kw es número y hay 195 valores no nulos, es decir, que no hay NaN
tabla4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 195 non-null    object
 1   Slug                 195 non-null    object
 2   Value                195 non-null    int64
 3   Date_Of_Information  195 non-null    int64
 4   Ranking              195 non-null    int64
 5   Region               195 non-null    object
dtypes: int64(3), object(3)
memory usage: 9.3+ KB

In [125]:
#Elementos que tiene la tabla 3 que no tiene 4 guiándonos con la columna slug
tabla3menos4=set(tabla3.Slug)-set(tabla4.Slug)
tabla3menos4

{'american-samoa',
 'bermuda',
 'british-virgin-islands',
 'guam',
 'kiribati',
 'korea-north',
 'puerto-rico'}

In [126]:
#Elementos que tiene la tabla 4 que no tiene 3 guiándonos con la columna slug
tabla4menos3=set(tabla4.Slug)-set(tabla3.Slug)
tabla4menos3

{'anguilla',
 'iceland',
 'micronesia-federated-states-of',
 'montserrat',
 'palau',
 'san-marino',
 'trinidad-and-tobago'}

In [127]:
!pip install thefuzz

Requirement already satisfied: thefuzz in /usr/local/lib/python3.11/dist-packages (0.22.1)
Requirement already satisfied: rapidfuzz<4.0.0,>=3.0.0 in /usr/local/lib/python3.11/dist-packages (from thefuzz) (3.13.0)

In [128]:
from thefuzz import process as fz
[(c,fz.extractOne(c,tabla3menos4)) for c in sorted(tabla4menos3)]

[('anguilla', ('guam', 50)),
 ('iceland', ('british-virgin-islands', 64)),
 ('micronesia-federated-states-of', ('puerto-rico', 47)),
 ('montserrat', ('korea-north', 38)),
 ('palau', ('puerto-rico', 51)),
 ('san-marino', ('american-samoa', 55)),
 ('trinidad-and-tobago', ('kiribati', 43))]

In [129]:
#como las posibles opciones no presentan un % de similitud significativo, no se podrán recuperar datos en el merge 3-4
tabla34=tabla3.merge(tabla4,left_on='Slug', right_on='Slug')
tabla34

,Name_x,Slug,Btu/Person,Date_Of_Information_x,Ranking_x,Region_x,Name_y,Value,Date_Of_Information_y,Ranking_y,Region_y
0,Qatar,qatar,814308000,2023,1,Middle East,Qatar,44692000000,2024,42,Middle East
1,Singapore,singapore,643259000,2023,2,East and Southeast Asia,Singapore,365494000000,2024,10,East and Southeast Asia
2,Bahrain,bahrain,554202000,2023,3,Middle East,Bahrain,5118000000,2023,98,Middle East
3,United Arab Emirates,united-arab-emirates,450432000,2023,4,Middle East,United Arab Emirates,231690000000,2024,12,Middle East
4,Brunei,brunei,403365000,2023,5,East and Southeast Asia,Brunei,4032000000,2024,109,East and Southeast Asia
...,...,...,...,...,...,...,...,...,...,...,...
183,Chad,chad,1502000,2023,191,Africa,Chad,1050000000,2023,147,Africa
184,"Congo, Democratic Republic of the",congo-democratic-republic-of-the,1305000,2023,192,Africa,"Congo, Democratic Republic of the",5104000000,2023,99,Africa
185,Central African Republic,central-african-republic,954000,2023,193,Africa,Central African Republic,479593000,2023,170,Africa
186,Burundi,burundi,946000,2023,194,Africa,Burundi,90350000,2023,187,Africa
187,Somalia,somalia,649000,2023,195,Africa,Somalia,30450000,2014,195,Africa

In [130]:
#Se observa que las columnas irrelevantes son ranking y date of information.
#Además, si es que todos los elementos de la columna Name y Region son iguales, una de cada una también se puede eliminar
son_iguales_name = (tabla34['Name_x'] == tabla34['Name_y']).all()
if son_iguales_name:
    print("Se puede borrar una de las dos columnas")
else:
    print("No se pueden borrar una de las dos columnas")

Se puede borrar una de las dos columnas

In [131]:
son_iguales_region = (tabla34['Region_x'] == tabla34['Region_y']).all()
if son_iguales_region:
    print("Se puede borrar una de las dos columnas")
else:
    print("No se pueden borrar una de las dos columnas")

Se puede borrar una de las dos columnas

In [132]:
#se procede a borrar las columnas innecesarias y las 2 repetidas
tabla34.drop(['Ranking_x','Region_y','Ranking_y','Name_y','Date_Of_Information_x','Date_Of_Information_y'], axis=1, inplace=True)
tabla34

,Name_x,Slug,Btu/Person,Region_x,Value
0,Qatar,qatar,814308000,Middle East,44692000000
1,Singapore,singapore,643259000,East and Southeast Asia,365494000000
2,Bahrain,bahrain,554202000,Middle East,5118000000
3,United Arab Emirates,united-arab-emirates,450432000,Middle East,231690000000
4,Brunei,brunei,403365000,East and Southeast Asia,4032000000
...,...,...,...,...,...
183,Chad,chad,1502000,Africa,1050000000
184,"Congo, Democratic Republic of the",congo-democratic-republic-of-the,1305000,Africa,5104000000
185,Central African Republic,central-african-republic,954000,Africa,479593000
186,Burundi,burundi,946000,Africa,90350000
187,Somalia,somalia,649000,Africa,30450000

In [133]:
#Repetir proceso para el merge 12
#Elementos que tiene la tabla 1 que no tiene 2 guiándonos con la columna slug
tabla1menos2=set(tabla1.Slug)-set(tabla2.Slug)
tabla1menos2

{'andorra',
 'anguilla',
 'curacao',
 'liechtenstein',
 'marshall-islands',
 'micronesia-federated-states-of',
 'monaco',
 'palau',
 'san-marino'}

In [134]:
#Elementos que tiene la tabla 2 que no tiene 1 guiándonos con la columna slug
tabla2menos1=set(tabla2.Slug)-set(tabla1.Slug)
tabla2menos1

{'american-samoa',
 'bosnia-and-herzegovina',
 'cuba',
 'equatorial-guinea',
 'eritrea',
 'falkland-islands-islas-malvinas',
 'french-polynesia',
 'gibraltar',
 'guam',
 'korea-north',
 'kosovo',
 'libya',
 'montenegro',
 'new-caledonia',
 'niue',
 'north-macedonia',
 'saint-helena-ascension-and-tristan-da-cunha',
 'saint-pierre-and-miquelon',
 'sudan',
 'syria',
 'taiwan',
 'virgin-islands',
 'yemen'}

In [135]:
from thefuzz import process as fz
[(c,fz.extractOne(c,tabla1menos2)) for c in sorted(tabla2menos1)]

[('american-samoa', ('monaco', 60)),
 ('bosnia-and-herzegovina', ('andorra', 53)),
 ('cuba', ('curacao', 68)),
 ('equatorial-guinea', ('palau', 54)),
 ('eritrea', ('micronesia-federated-states-of', 51)),
 ('falkland-islands-islas-malvinas', ('marshall-islands', 86)),
 ('french-polynesia', ('micronesia-federated-states-of', 48)),
 ('gibraltar', ('palau', 54)),
 ('guam', ('anguilla', 50)),
 ('korea-north', ('andorra', 51)),
 ('kosovo', ('micronesia-federated-states-of', 36)),
 ('libya', ('liechtenstein', 51)),
 ('montenegro', ('monaco', 60)),
 ('new-caledonia', ('monaco', 54)),
 ('niue', ('liechtenstein', 51)),
 ('north-macedonia', ('monaco', 60)),
 ('saint-helena-ascension-and-tristan-da-cunha', ('andorra', 57)),
 ('saint-pierre-and-miquelon', ('san-marino', 51)),
 ('sudan', ('san-marino', 68)),
 ('syria', ('micronesia-federated-states-of', 54)),
 ('taiwan', ('liechtenstein', 54)),
 ('virgin-islands', ('marshall-islands', 63)),
 ('yemen', ('liechtenstein', 45))]

In [136]:
#como las posibles opciones no presentan un % de similitud significativo (salvo islas marshall-islas malvinas, pero no son iguales), no se podrán recuperar datos en el merge 1-2
tabla12=tabla1.merge(tabla2,left_on='Slug', right_on='Slug')
tabla12

,Name_x,Slug,%_Of_Gdp,Date_Of_Information_x,Ranking_x,Region_x,Name_y,Kw,Date_Of_Information_y,Ranking_y,Region_y
0,Solomon Islands,solomon-islands,12.8,2020,2,Australia and Oceania,Solomon Islands,37000,2023,199,Australia and Oceania
1,Kiribati,kiribati,12.4,2019,3,Australia and Oceania,Kiribati,12000,2023,207,Australia and Oceania
2,Greenland,greenland,10.2,2019,4,North America,Greenland,190000,2023,174,North America
3,Bolivia,bolivia,9.8,2020,5,South America,Bolivia,4375000,2023,96,South America
4,Namibia,namibia,9.6,2021,7,Africa,Namibia,646000,2023,146,Africa
...,...,...,...,...,...,...,...,...,...,...,...
183,Haiti,haiti,1.4,2020,192,Central America and the Caribbean,Haiti,472000,2023,152,Central America and the Caribbean
184,Papua New Guinea,papua-new-guinea,1.4,2020,193,East and Southeast Asia,Papua New Guinea,1148000,2023,132,East and Southeast Asia
185,Venezuela,venezuela,1.3,2017,194,South America,Venezuela,33493000,2023,35,South America
186,Nigeria,nigeria,0.5,2013,196,Africa,Nigeria,4094000,2023,98,Africa
187,Somalia,somalia,0.3,2019,197,Africa,Somalia,156000,2023,180,Africa

In [137]:
#Se observa que las columnas irrelevantes son ranking y date of information.
#Además, si es que todos los elementos de la columna Name y Region son iguales, una de cada una también se puede eliminar
son_iguales_name = (tabla12['Name_x'] == tabla12['Name_y']).all()
if son_iguales_name:
    print("Se puede borrar una de las dos columnas")
else:
    print("No se pueden borrar una de las dos columnas")

Se puede borrar una de las dos columnas

In [138]:
#Se observa que las columnas irrelevantes son ranking y date of information.
#Además, si es que todos los elementos de la columna Name y Region son iguales, una de cada una también se puede eliminar
son_iguales_name = (tabla12['Region_x'] == tabla12['Region_y']).all()
if son_iguales_name:
    print("Se puede borrar una de las dos columnas")
else:
    print("No se pueden borrar una de las dos columnas")

Se puede borrar una de las dos columnas

In [139]:
#se procede a borrar las columnas innecesarias y las 2 repetidas
tabla12.drop(['Ranking_x','Region_y','Ranking_y','Name_y','Date_Of_Information_x','Date_Of_Information_y'], axis=1, inplace=True)
tabla12

,Name_x,Slug,%_Of_Gdp,Region_x,Kw
0,Solomon Islands,solomon-islands,12.8,Australia and Oceania,37000
1,Kiribati,kiribati,12.4,Australia and Oceania,12000
2,Greenland,greenland,10.2,North America,190000
3,Bolivia,bolivia,9.8,South America,4375000
4,Namibia,namibia,9.6,Africa,646000
...,...,...,...,...,...
183,Haiti,haiti,1.4,Central America and the Caribbean,472000
184,Papua New Guinea,papua-new-guinea,1.4,East and Southeast Asia,1148000
185,Venezuela,venezuela,1.3,South America,33493000
186,Nigeria,nigeria,0.5,Africa,4094000
187,Somalia,somalia,0.3,Africa,156000

In [140]:
#Repetir proceso para el merge 1234
#Elementos que tiene la tabla 12 que no tiene 34 guiándonos con la columna slug
tabla12menos34=set(tabla12.Slug)-set(tabla34.Slug)
tabla12menos34

{'bermuda',
 'british-virgin-islands',
 'cook-islands',
 'faroe-islands',
 'greenland',
 'iceland',
 'kiribati',
 'montserrat',
 'nauru',
 'puerto-rico',
 'trinidad-and-tobago',
 'turks-and-caicos-islands'}

In [141]:
#Elementos que tiene la tabla 34 que no tiene 12 guiándonos con la columna slug
tabla34menos12=set(tabla34.Slug)-set(tabla12.Slug)
tabla34menos12

{'bosnia-and-herzegovina',
 'cuba',
 'equatorial-guinea',
 'eritrea',
 'kosovo',
 'libya',
 'montenegro',
 'north-macedonia',
 'sudan',
 'syria',
 'taiwan',
 'yemen'}

In [142]:
from thefuzz import process as fz
[(c,fz.extractOne(c,tabla12menos34)) for c in sorted(tabla34menos12)]

[('bosnia-and-herzegovina', ('nauru', 51)),
 ('cuba', ('bermuda', 51)),
 ('equatorial-guinea', ('bermuda', 49)),
 ('eritrea', ('puerto-rico', 51)),
 ('kosovo', ('turks-and-caicos-islands', 43)),
 ('libya', ('kiribati', 54)),
 ('montenegro', ('montserrat', 60)),
 ('north-macedonia', ('nauru', 45)),
 ('sudan', ('trinidad-and-tobago', 54)),
 ('syria', ('kiribati', 54)),
 ('taiwan', ('trinidad-and-tobago', 54)),
 ('yemen', ('greenland', 54))]

In [143]:
#como las posibles opciones no presentan un % de similitud significativo, no se podrán recuperar datos en el merge 12-34
tabla1234=tabla12.merge(tabla34,left_on='Slug', right_on='Slug')
tabla1234

,Name_x_x,Slug,%_Of_Gdp,Region_x_x,Kw,Name_x_y,Btu/Person,Region_x_y,Value
0,Solomon Islands,solomon-islands,12.8,Australia and Oceania,37000,Solomon Islands,5655000,Australia and Oceania,688220000
1,Bolivia,bolivia,9.8,South America,4375000,Bolivia,29340000,South America,87100000
2,Namibia,namibia,9.6,Africa,646000,Namibia,21734000,Africa,3356000000
3,Sierra Leone,sierra-leone,9.1,Africa,149000,Sierra Leone,2301000,Africa,495699000
4,Belize,belize,8.7,Central America and the Caribbean,220000,Belize,30752000,Central America and the Caribbean,498087000
...,...,...,...,...,...,...,...,...,...
171,Haiti,haiti,1.4,Central America and the Caribbean,472000,Haiti,3486000,Central America and the Caribbean,2566000000
172,Papua New Guinea,papua-new-guinea,1.4,East and Southeast Asia,1148000,Papua New Guinea,8781000,East and Southeast Asia,3901000000
173,Venezuela,venezuela,1.3,South America,33493000,Venezuela,54474000,South America,9794000000
174,Nigeria,nigeria,0.5,Africa,4094000,Nigeria,7993000,Africa,38612000000
175,Somalia,somalia,0.3,Africa,156000,Somalia,649000,Africa,30450000

In [144]:
#Si es que todos los elementos de la columna Name y Region son iguales, una de cada una también se puede eliminar
son_iguales_name = (tabla1234['Region_x_x'] == tabla1234['Region_x_y']).all()
if son_iguales_name:
    print("Se puede borrar una de las dos columnas")
else:
    print("No se pueden borrar una de las dos columnas")

Se puede borrar una de las dos columnas

In [145]:
#Si es que todos los elementos de la columna Name y Region son iguales, una de cada una también se puede eliminar
son_iguales_name = (tabla1234['Region_x_x'] == tabla1234['Region_x_y']).all()
if son_iguales_name:
    print("Se puede borrar una de las dos columnas")
else:
    print("No se pueden borrar una de las dos columnas")

Se puede borrar una de las dos columnas

In [146]:
#se procede a borrar las columnas repetidas
tabla1234.drop(['Region_x_y','Name_x_y'], axis=1, inplace=True)
tabla1234

,Name_x_x,Slug,%_Of_Gdp,Region_x_x,Kw,Btu/Person,Value
0,Solomon Islands,solomon-islands,12.8,Australia and Oceania,37000,5655000,688220000
1,Bolivia,bolivia,9.8,South America,4375000,29340000,87100000
2,Namibia,namibia,9.6,Africa,646000,21734000,3356000000
3,Sierra Leone,sierra-leone,9.1,Africa,149000,2301000,495699000
4,Belize,belize,8.7,Central America and the Caribbean,220000,30752000,498087000
...,...,...,...,...,...,...,...
171,Haiti,haiti,1.4,Central America and the Caribbean,472000,3486000,2566000000
172,Papua New Guinea,papua-new-guinea,1.4,East and Southeast Asia,1148000,8781000,3901000000
173,Venezuela,venezuela,1.3,South America,33493000,54474000,9794000000
174,Nigeria,nigeria,0.5,Africa,4094000,7993000,38612000000
175,Somalia,somalia,0.3,Africa,156000,649000,30450000

In [147]:
#Renombrando las columnas
tabla1234=tabla1234.rename(columns={'Name_x_x':'Country', '%_Of_Gdp':'%_of_GDP','Kw':'kW', 'Region_x_x':'Region',})
tabla1234

,Country,Slug,%_of_GDP,Region,kW,Btu/Person,Value
0,Solomon Islands,solomon-islands,12.8,Australia and Oceania,37000,5655000,688220000
1,Bolivia,bolivia,9.8,South America,4375000,29340000,87100000
2,Namibia,namibia,9.6,Africa,646000,21734000,3356000000
3,Sierra Leone,sierra-leone,9.1,Africa,149000,2301000,495699000
4,Belize,belize,8.7,Central America and the Caribbean,220000,30752000,498087000
...,...,...,...,...,...,...,...
171,Haiti,haiti,1.4,Central America and the Caribbean,472000,3486000,2566000000
172,Papua New Guinea,papua-new-guinea,1.4,East and Southeast Asia,1148000,8781000,3901000000
173,Venezuela,venezuela,1.3,South America,33493000,54474000,9794000000
174,Nigeria,nigeria,0.5,Africa,4094000,7993000,38612000000
175,Somalia,somalia,0.3,Africa,156000,649000,30450000

In [148]:
#todos los Dtype son coherentes
tabla1234.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176 entries, 0 to 175
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Country     176 non-null    object
 1   Slug        176 non-null    object
 2   %_of_GDP    176 non-null    float64
 3   Region      176 non-null    object
 4   kW          176 non-null    int64
 5   Btu/Person  176 non-null    int64
 6   Value       176 non-null    int64
dtypes: float64(1), int64(3), object(3)
memory usage: 9.8+ KB

In [149]:
#Para el paso 4, reportar promedio mínimo y máximo por región
varsAggregated=['%_of_GDP','kW','Btu/Person','Value']
funciones=['mean','min','max']
tabla_min_max_mean=tabla1234.groupby('Region')[varsAggregated].agg(funciones)
#Por si queremos exportar el trabajo a otra aplicacion:
#tablaregion.columns=['_'.join(col) for col in tablaregion.columns.to_flat_index()]
tabla_min_max_mean

                                   %_of_GDP                       kW  \
                                       mean  min   max          mean
Region
Africa                             4.268000  0.3   9.6  4.619820e+06
Australia and Oceania              6.314286  2.2  12.8  1.706100e+07
Central America and the Caribbean  4.555000  1.4   8.7  1.580500e+06
Central Asia                       4.333333  2.8   6.2  4.239578e+07
East and Southeast Asia            3.633333  1.4   6.3  2.108446e+08
Europe                             5.151429  3.1   7.2  4.027509e+07
Middle East                        4.528571  1.7   7.8  3.381729e+07
North America                      5.200000  4.3   6.1  5.008580e+08
South America                      4.808333  1.3   9.8  3.550408e+07
South Asia                         3.850000  1.9   7.0  7.211612e+07

                                                            Btu/Person  \
                                         min         max          mean
Region
Africa                                 29000    65989000  1.412284e+07
Australia and Oceania                  34000   108193000  6.221671e+07
Central America and the Caribbean      41000     6581000  5.587300e+07
Central Asia                         3944000   301926000  1.039161e+08
East and Southeast Asia               277000  2949000000  1.186874e+08
Europe                                779000   275658000  1.131422e+08
Middle East                           352000   119620000  2.406509e+08
North America                      105586000  1235000000  2.158707e+08
South America                         259000   240251000  4.641467e+07
South Asia                            432000   499136000  2.350638e+07

                                                               Value  \
                                        min        max          mean
Region
Africa                               649000   98847000  6.860587e+09
Australia and Oceania               5655000  223158000  1.147904e+10
Central America and the Caribbean   3486000  153952000  4.561870e+09
Central Asia                       16192000  261142000  7.555822e+10
East and Southeast Asia             6825000  643259000  3.536142e+11
Europe                             27407000  234698000  6.415875e+10
Middle East                        14991000  814308000  9.432479e+10
North America                      57539000  311599000  1.890850e+11
South America                      25733000   78496000  4.748692e+10
South Asia                          3380000   64082000  7.907593e+10


                                            min            max
Region
Africa                                 30450000    68448000000
Australia and Oceania                 396530000    54455000000
Central America and the Caribbean     155971000    23834000000
Central Asia                         3237000000   597217000000
East and Southeast Asia               781995000  3265000000000
Europe                                921269000   822130000000
Middle East                          1328000000   436769000000
North America                      117551000000   227760000000
South America                          87100000   318857000000
South Asia                            673203000   569544000000

In [43]:
#Proseguir con el paso 5, discretización
!pip install mapclassify

Collecting mapclassify
  Downloading mapclassify-2.8.1-py3-none-any.whl.metadata (2.8 kB)
Requirement already satisfied: networkx>=2.7 in /usr/local/lib/python3.11/dist-packages (from mapclassify) (3.4.2)
Requirement already satisfied: numpy>=1.23 in /usr/local/lib/python3.11/dist-packages (from mapclassify) (2.0.2)
Requirement already satisfied: pandas!=1.5.0,>=1.4 in /usr/local/lib/python3.11/dist-packages (from mapclassify) (2.2.2)
Requirement already satisfied: scikit-learn>=1.0 in /usr/local/lib/python3.11/dist-packages (from mapclassify) (1.6.1)
Requirement already satisfied: scipy>=1.8 in /usr/local/lib/python3.11/dist-packages (from mapclassify) (1.15.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas!=1.5.0,>=1.4->mapclassify) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas!=1.5.0,>=1.4->mapclassify) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas!=1.5.0,>=1.4->mapclassify) (2025.2)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn>=1.0->mapclassify) (1.5.0)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn>=1.0->mapclassify) (3.6.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas!=1.5.0,>=1.4->mapclassify) (1.17.0)
Downloading mapclassify-2.8.1-py3-none-any.whl (59 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 59.1/59.1 kB 2.5 MB/s eta 0:00:00
Installing collected packages: mapclassify
Successfully installed mapclassify-2.8.1

In [150]:
tabla1234

,Country,Slug,%_of_GDP,Region,kW,Btu/Person,Value
0,Solomon Islands,solomon-islands,12.8,Australia and Oceania,37000,5655000,688220000
1,Bolivia,bolivia,9.8,South America,4375000,29340000,87100000
2,Namibia,namibia,9.6,Africa,646000,21734000,3356000000
3,Sierra Leone,sierra-leone,9.1,Africa,149000,2301000,495699000
4,Belize,belize,8.7,Central America and the Caribbean,220000,30752000,498087000
...,...,...,...,...,...,...,...
171,Haiti,haiti,1.4,Central America and the Caribbean,472000,3486000,2566000000
172,Papua New Guinea,papua-new-guinea,1.4,East and Southeast Asia,1148000,8781000,3901000000
173,Venezuela,venezuela,1.3,South America,33493000,54474000,9794000000
174,Nigeria,nigeria,0.5,Africa,4094000,7993000,38612000000
175,Somalia,somalia,0.3,Africa,156000,649000,30450000

In [151]:
#Iniciar en orden partiendo de %gdp, creando 5 intervalos
import mapclassify
import numpy as np
K=5
#Se usará FisherJenks al ser el más eficiente
intervaloGDP=mapclassify.FisherJenks(tabla1234['%_of_GDP'], k=K)
intervalokW=mapclassify.FisherJenks(tabla1234['kW'], k=K)
intervaloBTU=mapclassify.FisherJenks(tabla1234['Btu/Person'], k=K)
intervaloVALUE=mapclassify.FisherJenks(tabla1234['Value'], k=K)

In [152]:
#Se agregan los intervalos creados como columna
tabla1234['Intervalo_GDP']=intervaloGDP.yb
tabla1234['Intervalo_kW']=intervalokW.yb
tabla1234['Intervalo_BTU']=intervaloBTU.yb
tabla1234['Intervalo_VALUE']=intervaloVALUE.yb
tabla1234

,Country,Slug,%_of_GDP,Region,kW,Btu/Person,Value,Intervalo_GDP,Intervalo_kW,Intervalo_BTU,Intervalo_VALUE
0,Solomon Islands,solomon-islands,12.8,Australia and Oceania,37000,5655000,688220000,4,0,0,0
1,Bolivia,bolivia,9.8,South America,4375000,29340000,87100000,4,0,0,0
2,Namibia,namibia,9.6,Africa,646000,21734000,3356000000,4,0,0,0
3,Sierra Leone,sierra-leone,9.1,Africa,149000,2301000,495699000,4,0,0,0
4,Belize,belize,8.7,Central America and the Caribbean,220000,30752000,498087000,4,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
171,Haiti,haiti,1.4,Central America and the Caribbean,472000,3486000,2566000000,0,0,0,0
172,Papua New Guinea,papua-new-guinea,1.4,East and Southeast Asia,1148000,8781000,3901000000,0,0,0,0
173,Venezuela,venezuela,1.3,South America,33493000,54474000,9794000000,0,0,1,0
174,Nigeria,nigeria,0.5,Africa,4094000,7993000,38612000000,0,0,0,0
175,Somalia,somalia,0.3,Africa,156000,649000,30450000,0,0,0,0

In [153]:
#quitando la columna slug pues ya no será de uso
tabla1234.drop(['Slug'], axis=1, inplace=True)

In [154]:
#reacomodando la tabla
reordenar=['Country','Region','%_of_GDP','Intervalo_GDP','kW','Intervalo_kW','Btu/Person','Intervalo_BTU','Value','Intervalo_VALUE']
tabla1234=tabla1234.reindex(columns=reordenar)
tabla1234

,Country,Region,%_of_GDP,Intervalo_GDP,kW,Intervalo_kW,Btu/Person,Intervalo_BTU,Value,Intervalo_VALUE
0,Solomon Islands,Australia and Oceania,12.8,4,37000,0,5655000,0,688220000,0
1,Bolivia,South America,9.8,4,4375000,0,29340000,0,87100000,0
2,Namibia,Africa,9.6,4,646000,0,21734000,0,3356000000,0
3,Sierra Leone,Africa,9.1,4,149000,0,2301000,0,495699000,0
4,Belize,Central America and the Caribbean,8.7,4,220000,0,30752000,0,498087000,0
...,...,...,...,...,...,...,...,...,...,...
171,Haiti,Central America and the Caribbean,1.4,0,472000,0,3486000,0,2566000000,0
172,Papua New Guinea,East and Southeast Asia,1.4,0,1148000,0,8781000,0,3901000000,0
173,Venezuela,South America,1.3,0,33493000,0,54474000,1,9794000000,0
174,Nigeria,Africa,0.5,0,4094000,0,7993000,0,38612000000,0
175,Somalia,Africa,0.3,0,156000,0,649000,0,30450000,0

In [155]:
#guardar la tabla en pickle
tabla1234.to_pickle("tabla.pkl")
dfPickle=pd.read_pickle("tabla.pkl")
dfPickle.info()
#se observa además que todos los Dtype son coherentes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176 entries, 0 to 175
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          176 non-null    object
 1   Region           176 non-null    object
 2   %_of_GDP         176 non-null    float64
 3   Intervalo_GDP    176 non-null    int64
 4   kW               176 non-null    int64
 5   Intervalo_kW     176 non-null    int64
 6   Btu/Person       176 non-null    int64
 7   Intervalo_BTU    176 non-null    int64
 8   Value            176 non-null    int64
 9   Intervalo_VALUE  176 non-null    int64
dtypes: float64(1), int64(7), object(2)
memory usage: 13.9+ KB